/* Text highlight color for webkit and mozilla browsers (uses non-validating pseudo-elements) */
::selection	{
	color: #fff;
	background: orange;
}

::-moz-selection {
	color: #fff;
	background: orange;
}


/* Colorful links */
a:link, a:visited {
	color: #8ab8e5;
	text-decoration: none;
}

a:hover {
	color: orange;
	text-decoration: none;
}

a:active {
	color: gray;
	text-decoration: none;
}


/* Body attributes */
body {
	background: #1a1a1a url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAHklEQVQIW2NgwAT/4QRc5D+CC2eBBZFkUHSgSIDYAPeNE+1ugsZTAAAAAElFTkSuQmCC") repeat scroll top left;
	color: #fff;
	font-size: 14px;
	font-family: sans-serif;
	width: 800px;
	margin-left: 90px;
}


/* Dividing border lines */
#horiz {
	width: auto;
	border-top: 2px solid #fff;
}

#vert {
	min-height: 247px;
	border-left: 2px solid #fff;
	position: relative;
	z-index: 1;
}


/* Homepage link */
#home {
	margin: 0px 8px 5px;
	font-size: 16px;
	font-family: "Lucida Console";
	text-shadow: 2px -1px 2px rgba(0,0,0,0.8);
	filter: Shadow(Color=#000000, Direction=25, Strength=2);
}

#home a {
	color: lightslategray;
}

#home a:hover {
	color: orange;
}


/* Navigation bar style */
#nav {
	position: static;
	float: left;
	margin-top: 30px;
	margin-left: -78px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	font-family: "Courier New";
}

#nav ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

#nav li {
	margin-top: 21px;
}

#nav a {
	display: block;
	width: 76px;
	height: 17px;
	color: orange;
	border: 2px solid #fff;
}

#nav a:hover {
	color: #8ab8e5;
	border-top: 2px solid orange;
	border-bottom: 2px solid orange;
	border-left: 2px solid orange;
}


/* Content style */
.project_title {
	margin: 15px;
	font-weight: bold;
	text-shadow: 1px 1px #646464;
	filter: Shadow(Color=#646464, Direction=155, Strength=1);
}

.content {
	margin: auto 25px;
}

.image {
	display: block;
    margin-left: auto;
    margin-right: auto;
}
